#btn
{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
}
body
{
  background-color: green;
}

h1{
  color:yellow;
}

#btns-start
{
  background-color: goldenrod !important;
  
}
#btns-new
{
  background-color: goldenrod !important;
}